
.MainImageView {
    margin-left: 360px;
    margin-right: 0px;
}

.MainImageView img {
    width: 100%;
}

.MainDescView {
    width: 450px;
    height: 220px;
    background-color: rgb(240, 192, 64);
    position: relative;
    top: -225px;
    float: right;
    margin-right: 0px;
}

.MainDescView__Title {
    font-family: 'HelveticaNeue-Light';
    margin-left: 20px;
    margin-top: 26px;
    color: rgb(18, 26, 3);
    font-size: 25pt;
}

.MainDescView__Desc {
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'HelveticaNeue-Light';
    font-size: 13pt; 
    color: rgb(129, 112, 35);
}

.MainDescView__MoveButton {
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 130px;
}

.MainDescView__MoveButton a {
    color: rgb(120, 119, 129);
    margin-top: 10px;
    font-family: 'HelveticaNeue-Light';
    font-size: 8pt;
    background-color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.MainDescView__MoveButton a:hover {
    color: black;
}