.Menu {
    font-style: Sans-serif;
    height: 100%;
    width: 350px;
    background-color: rgb(44, 44, 44);
    position: fixed;
    top: 1em;
    right: 1em;
    left: 0;
}

.Menu__Top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 18pt;
    color: rgb(255, 255, 241);
    text-align: center;
}

.Menu__Buttons {
    margin-top: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Menu__Buttons div {
    text-align: center;
    margin-bottom: 12px;
}

.Menu__CopyrightInfo {
    width: 350px;
    margin-top: 440px;
    color: rgb(66, 67, 69);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Menu__CopyrightInfo div {
    text-align: center;
    margin-bottom: 6px;
}

.Menu__SnsButtons {
    margin-top: 580px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Menu__Buttons {
    border-bottom: 3px;
}

.Menu__Buttons a, u {
    text-decoration: none;
}

.Menu__Buttons a {
   color: rgb(139, 136, 133) 
}

.Menu__Button__Home a:visited {
   color: rgb(228, 169, 55) 
}

.Menu__Buttons a:hover, u {
    color: rgb(228, 169, 55);
    text-decoration: underline;
}

.Menu__Buttons a:link {
    color: rgb(139, 136, 133)
}

.Menu__SnsButtons img {
    width: 16px;
    height : 16px;
}

.Menu__SnsButtons__facebookLogo {
    margin-right: 15px;
}

.Menu__SnsButtons__twitterLogo {
    margin-right: 15px;
}

.Menu__SnsButtons__instagramLogo {
    margin-right: 15px;
}